html,
body {
    min-width: 300px;
}

html {
    /* sizes */
    --sticker-height: 115px;

    /* paddings */
    --page-pad-x: 1rem;
    --nav-link-pad-x: 0;
    --nav-link-pad-y: 2rem;
    --main-pad-top: 10vh;
    --main-pad-bot: 4vh;
    --section-pad-bot: 3.5rem;
    --section-pad-top: 4em;

    /* margins */
    --service-card-mg-top: 2.5rem;
    --section-title-mg-bot: 2rem;

    /* font-sizes */
    --section-title-fs: 15px;
    --service-title-fs: 25px;
    --statictic-title-fs: 25px;
    --statisctic-number-fs: 50px;
    --text-sm: 13px;
    --text-md: 15px;
    --text-lg: 16px;

    /* sizes */
    --play-video-btn-width: calc(80px + 1.9vw);

    /* colors */
    --color-red: #DC0000;
    --color-black-1: #151515;
    --color-black-2: #0D0D0D;
    --color-black-3: #161616;
    --color-grey-1: #868686;
    --color-grey-2: #F3F3F3;
    --color-grey-3: #F8F8F8;
    --color-grey-4: #F2F2F2;
    --color-grey-5: #7A7A7A;
    --color-grey-6: #B9B9B9;
    --color-grey-7: #828282;
    --color-grey-8: #2D2D2D;
}

@media(min-width: 576px) {
    html {
        --page-pad-x: 5%;
        --nav-link-pad-x: 0;
        --section-title-fs: 18px;
        --main-pad-top: 20vh;
        --main-pad-bot: 8vh;
        --service-card-mg-top: 3rem;
        --statictic-title-fs: 28px;
    }
}

@media(min-width: 768px) {
    html {
        --nav-link-pad-y: 0;
        --nav-link-pad-x: 0.4rem;
        --section-pad-top: 5em;
        --section-title-mg-bot: 3rem;
        --sticker-height: 175px;
        --service-card-mg-top: 4rem;
        --statictic-title-fs: 36px;
    }
}

@media(min-width: 992px) {
    html {
        --nav-link-pad-x: 1rem;
        --section-pad-top: 6em;
        --section-title-mg-bot: 4.5rem;
        --text-md: 16.5px;
        --statictic-title-fs: 40px;
        --statisctic-number-fs: 60px;
        --text-lg: 18px;
        --text-sm: 14px;
    }
}

@media(min-width: 1200px) {
    html {
        --page-pad-x: 10%;
        --sticker-height: 235px;
        --statictic-title-fs: 44px;
    }
}

@media(min-width: 1400px) {
    html {
        --play-video-btn-width: 130px;
        --service-title-fs: 36px;
        --text-md: 18px;
        --service-card-mg-top: 4.5rem;
        --statictic-title-fs: 48px;
        --statisctic-number-fs: 70px;
        --text-lg: 20px;
    }
}

/* by grid */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header {
    overflow: auto;
    padding: 2rem var(--page-pad-x);
    -webkit-transition: padding 0.2s;
    -o-transition: padding 0.2s;
    transition: padding 0.2s;
}

.header__nav-link {
    padding: var(--nav-link-pad-y) var(--nav-link-pad-x);
    color: var(--color-black-2);
    text-decoration: none;
}

.header__nav-link:focus {
    color: var(--color-red);
}

.header__nav-link:focus-visible {
    outline: none;
}

.header__nav-collapse {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}


.main {    
    padding: var(--main-pad-top) var(--page-pad-x) var(--main-pad-bot) var(--page-pad-x);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../img/Header.png');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/Header.png');
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/Header.png');
    background-position: center;
    background-size: cover;
}


.section {
    padding-top: var(--section-pad-top);
    padding-bottom: var(--section-pad-bot);
    color: var(--color-black-1);
}

.section-title {
    font-weight: 400;
    font-size: var(--section-title-fs);
    letter-spacing: 0.5em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: var(--section-title-mg-bot);
}

.videos {
    overflow-x: hidden;
}

.videos__video-row-wrapper {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: translateX(var(--video-row-wrapper-translateX));
        -ms-transform: translateX(var(--video-row-wrapper-translateX));
            transform: translateX(var(--video-row-wrapper-translateX));
}

.videos__video-row {
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: -webkit-transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

.videos__video-card {
    position: relative;
    cursor: pointer;
    -webkit-transition: width 0.4s ease-in;
    -o-transition: width 0.4s ease-in;
    transition: width 0.4s ease-in;
}


.videos__video-card.focus .videos__play-video-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.videos__video-description {
    cursor: pointer;
    color: white;
    font-size: var(--text-sm);
    padding-top: 1rem;
    width: 90%;
    -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
            transform: translateY(-120%);
}

@media(min-width: 576px) {
    .videos__video-description {
        width: 100%;
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
    }

    .videos__video-card.focus .videos__video-description {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        color: black;
    }

    .videos__video-card.focus .videos__index-arrow path {
        stroke: black;
    }
}

.videos__video-preview {
    pointer-events: none;
}

.videos__video-preview::-moz-selection {
    background: transparent;
}

.videos__video-preview::selection {
    background: transparent;
}

.videos__play-video-btn {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: var(--play-video-btn-width);
    height: var(--play-video-btn-width);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
        -ms-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    border-radius: 9999px;
    background: transparent;
    border: 2px solid white;
}

@media(min-width: 576px) {
    .videos__play-video-btn {
        -webkit-transform: translate(-50%, -70%);
            -ms-transform: translate(-50%, -70%);
                transform: translate(-50%, -70%);
    }
}

.videos__play-video-btn-triangle {
    margin-left: 9px;
}

.videos__play-video-btn-triangle path {
    -webkit-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s;
}

.videos__play-video-btn:hover .videos__play-video-btn-triangle path {
    fill: black;
}

.slide-panel {
    width: 100%;
}

@media(min-width: 576px) {
    .slide-panel {
        width: 80%;
    }
}

.slide-panel__arrow {
    margin-left: 20px;
    cursor: pointer;
}

.slide-panel__arrow:hover path{
    stroke: var(--color-red);
}

.slide-panel__indication-circle {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: 1px solid var(--color-grey-7);
}

@media (max-width: 576px) {
    .slide-panel__indication-circle {
        width: 14px;
        height: 14px;
    }
}

.slide-panel__indication-circle.active {
    background: var(--color-red);
    border-color: var(--color-red);
}

.slide-panel__indication-circle:hover {
    border-color: var(--color-red);
}


.services {
    padding-left: var(--page-pad-x);
    padding-right: var(--page-pad-x);
}

@media(min-width: 576px) {
    .services__service-card:nth-child(odd) {
        -webkit-transform: translateY(-5%);
            -ms-transform: translateY(-5%);
                transform: translateY(-5%);
    }
}

.services__service-card {
    min-height: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.services__service-card::before {
    content: '';
    width: 80px;
    height: 2px;
    background-color: var(--color-red);
    display: block;
    margin-top: var(--service-card-mg-top);
    margin-bottom: 2rem;
}

.services__service-title {
    line-height: 1.4em;
    font-weight: 600;
    font-size: var(--service-title-fs);
}

.services__service-description {
    font-size: var(--text-sm);
    line-height: 1.8em;
}

.services__service-description-list {
    font-size: var(--text-sm);
}

.services__service-description-list li {
    margin: 0;
    padding: 1.5em 0 1.5rem 1rem;
    position: relative;
}

.services__service-description-list li:not(.services__service-description-list li:last-child) {
    border-bottom: 1px solid #DADADA;
}

.services__service-description-list li::before {
    content: '';
    position: absolute;
    top: 1.8rem;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 9999px;
    background-color: var(--color-black-1);
}

.services__service-conclusion {
    letter-spacing: 0.5em;
    line-height: 1.5em;
    word-break: break-word;
    color: var(--color-red);
    font-size: var(--text-md);
}


.statistic-and-promo {
    padding-left: var(--page-pad-x);
    padding-right: var(--page-pad-x);
    background-color: var(--color-grey-2);
}

.promo__title {
    font-size: var(--statictic-title-fs);
    font-weight: 600;
    line-height: 1.5em;
}

@media(max-width: 576px) {
    .promo__title {
        margin-top: 2rem;
    }
}

.promo__text {
    font-size: var(--text-md);
    line-height: 1.7em;
}

.statistic__title {
    color: var(--color-grey-1);
}

@media(min-width: 768px) {
    .statistic__title {
        margin-top: var(--section-pad-top);
    }
}


.statistic__card {
    padding-top: calc(50px + 0.03vw);
    padding-bottom: calc(50px + 0.03vw);

    border-radius: 30px;
    background: #FFFFFF;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
}

@media(max-width: 768px) {
    .statistic__card {
        margin-top: 2rem;
    }
}

@media(min-width: 1400px) {
    .statistic__card {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.statistic__number {
    color: var(--color-red);
    font-size: var(--statisctic-number-fs);
    font-weight: 600;
    line-height: 1.1em;
}

.statistic__number-text {
    color: var(--color-black-3);
    font-size: var(--text-lg);
    text-align: center;
    line-height: 1.5em;
    margin-top: 10px;
    width: 80%;
}


.partners {
    padding-left: var(--page-pad-x);
    padding-right: var(--page-pad-x);
    overflow-x: hidden;
}

.partners__logo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.partners__row {
    cursor: pointer;
}

.illusion-card {
    display: none;
}

@media(max-width: 768px) {
    .partners__row {
        gap: 2rem;
    }

    .illusion-card {
        display: block;
    }
}


.footer {
    font-size: var(--text-sm);
    padding: var(--section-pad-top) var(--page-pad-x) var(--section-pad-bot) var(--page-pad-x);
    background-color: var(--color-black-1);
}

.footer-title {
    color: var(--color-grey-3);
}

@media(max-width: 992px) {

    .footer__input-block,
    .footer__info-list {
        margin-top: 2rem;
    }
}

.footer__label,
.footer__info-title {
    font-size: var(--text-sm);
    display: block;
    color: var(--color-grey-4);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer__input {           
    border-bottom: 1px solid var(--color-grey-8) !important;    
}

.footer__input:focus-visible {
    outline: 0;
    border-bottom: 1px solid var(--color-grey-4) !important;
    color: var(--color-grey-4);
}

.footer__input::-webkit-input-placeholder {
    color: var(--color-grey-5);
}

.footer__input::-moz-placeholder {
    color: var(--color-grey-5);
}

.footer__input:-ms-input-placeholder {
    color: var(--color-grey-5);
}

.footer__input::-ms-input-placeholder {
    color: var(--color-grey-5);
}

.footer__input::placeholder,
.footer__input {
    color: var(--color-grey-5);
}

.footer__info-list {
    gap: 2rem;
}

.footer__info-block {
    width: 80%;
}

.footer__info {
    margin-top: 1.125rem;
}

.footer__info,
.footer__info a {
    color: var(--color-grey-6) !important;
}

.footer__info a {
    text-decoration: none;
}

@media(max-width: 576px) {
    .footer__info-list {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        margin-top: 0;
    }

    .footer__info-block {
        width: 100%;
    }
}

.footer__navbar {
    padding-top: var(--section-pad-top);    
}

.footer__navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__nav-link {
    font-size: var(--text-sm);
    text-transform: uppercase;
    color: var(--color-grey-4) !important;
    text-decoration: none;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    padding: 0 var(--nav-link-pad-x);
}

@media(max-width: 768px) {
    .footer__navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer__nav-link {
        text-align: center;
        padding: var(--nav-link-pad-y) 0;
    }
    .footer__rutube-link{
        margin-top: var(--nav-link-pad-y);
    }
}
.footer__rutube-logo:hover path{
    -webkit-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s;
}
.footer__rutube-logo:hover path{
    fill: var(--color-red);
}
.footer__post-button{
    margin-top: 1.25rem;
}


/* behavior classes */
.header-shrink-pad {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.color-transition {
    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s, stroke 0.2s;
    -o-transition: color 0.2s, background-color 0.2s, border-color 0.2s, stroke 0.2s;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, stroke 0.2s;
}

.color-to-red {
    color: initial;
}

.color-to-red:hover {
    color: var(--color-red) !important;
}

.bg-to-red {
    background-color: initial;
}

.bg-to-red:hover {
    background-color: var(--color-red);
}

.bg-to-white {
    background-color: initial;
}

.bg-to-white:hover {
    background-color: white !important;
}

.smooth-opacity {
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.tel-muted-color {
    color: #929292 !important;
}

.reverse {
    -webkit-transform: scale(-1);
        -ms-transform: scale(-1);
            transform: scale(-1);
}



/* special elements */

.header__nav-toggler:hover .burger-row {
    width: 20px;
}

.burger-icon {
    height: 20px;
}

.burger-row {
    height: 2px;
    width: 20px;
    background-color: black;
    -webkit-transition: margin 0.2s ease-in, background-color 0.2s, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: margin 0.2s ease-in, background-color 0.2s, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -o-transition: margin 0.2s ease-in, transform 0.2s ease-in-out, background-color 0.2s, width 0.2s ease-in-out;
    transition: margin 0.2s ease-in, transform 0.2s ease-in-out, background-color 0.2s, width 0.2s ease-in-out;
    transition: margin 0.2s ease-in, transform 0.2s ease-in-out, background-color 0.2s, width 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.burger-to-cross:hover .burger-row {
    background-color: white;
}

.burger-to-cross .burger-row {
    width: 20px;
}

.burger-row-1 {
    width: 15px;
}

.burger-to-cross .burger-row-1 {
    margin-top: 9.5px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.burger-row-2 {
    width: 17px;
}

.burger-to-cross .burger-row-2 {
    display: none;
}

.burger-to-cross .burger-row-3 {
    margin-bottom: 9.5px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}



.rutube-logo {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: black;
    border-radius: 50px;
    padding: 1rem;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.rutube-logo::after {
    content: '';
    display: block;
    width: 4.65px;
    height: 4.65px;
    position: absolute;
    top: 14.3px;
    right: 11.6px;
    background-color: var(--color-red);
    border-radius: 9999px;
}

.rutube-logo__svg path:not(.rutube-circle) {
    fill: #FBFBFB;
}

.rutube-logo_mobile {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    background-color: white !important;
    -webkit-transition: opacity 0.3s ease-in-out !important;
    -o-transition: opacity 0.3s ease-in-out !important;
    transition: opacity 0.3s ease-in-out !important;
}

.rutube-logo_mobile .rutube-logo__svg path:not(.rutube-circle) {
    fill: black;
    -webkit-transition: fill 0.2s;
    -o-transition: fill 0.2s;
    transition: fill 0.2s;
}

.rutube-logo_mobile:hover .rutube-logo__svg path:not(.rutube-circle) {
    fill: var(--color-red);
}

.rutube-logo:not(.rutube-logo_mobile):hover,
.rutube-logo:not(.rutube-logo_mobile):active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
}

@media(min-width: 576px) {
    .rutube-logo:not(.rutube-logo_mobile):hover {
        width: 140px;
        padding-right: 0;
    }
}

.special-i {
    position: relative;
}

.special-i::after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 2px;
    background-color: var(--color-red);
    border-radius: 9999px;
}

@media(max-width: 768px) {
    .special-i::after {
        width: 5.5px;
        height: 5.5px;
    }
}

@media(max-width: 576px) {
    .special-i::after {
        top: 4.5px;
        left: 1.25px;
    }
}

.scroll-from-main-btn {
    width: calc(40px + 2.1vw);
    height: calc(40px + 2.1vw);
    border-radius: 9999px;
    background: transparent;
    border: 2px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.scroll-arrow {
    width: calc(14px + 0.4vw);
    height: calc(14px + 0.4vw);
    margin-bottom: calc(7px + 0.2vw);
    border-color: white;
    border-style: solid;
    border-width: 2px 2px 0 0;
    -webkit-transform: scale(-1) rotate(-45deg);
        -ms-transform: scale(-1) rotate(-45deg);
            transform: scale(-1) rotate(-45deg);
}

.scroll-from-main-btn:hover .scroll-arrow {
    border-color: black;
}

.input{
    margin-top: 1.25rem; 
    padding: 6px 2px 1.25rem 2px;
    width: 100%;
    line-height: 1.5em;    
    background: transparent;
    border: none;
    border-radius: 5px;
}

.modal-window{         
    display: -webkit-box;         
    display: -ms-flexbox;  
    position: fixed;       
    top: 0;
    right: 0;
    bottom: 0;    
    left: 0;
    overflow-y: auto;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.modal-window::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.iframe-container {
    overflow: hidden;
    width: 100%;
    max-width: 720px;
    height: 400px;
    position: relative;
}
@media(max-height: 600px){
    .iframe-container{
        height: 200px;
    }
}

.video-frame {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.feedback-form{
    width: 100%;
    margin: 0 auto;
}
.feedback-form > *{
    margin-top: 1.5rem;
}
.feedback-form__button,
.feedback-success__ok{
    width: 100%;
}
@media(min-width: 768px){
    .feedback-form,
    .feedback-form__button,
    .feedback-success__ok{
        width: 80%;
    }
    .feedback-form > *,
    .feedback-success__ok{
        margin-top: 2rem;        
    }
}
@media(min-width: 1200px){
    .feedback-form,
    .feedback-form__button,
    .feedback-success__ok{
        width: 70%;
    }
    .feedback-form > *,
    .feedback-success__ok{
        margin-top: 2.5rem;        
    }
}
@media(min-width: 1400px){
    .feedback-form,
    .feedback-form__button,
    .feedback-success__ok{
        width: 60%;
    }
    .feedback-form > *,
    .feedback-success__ok{
        margin-top: 3rem;        
    }
}
.feedback-form__wrapper{   
    position: relative;     
    background-color: white;    
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;
    padding: var(--section-pad-top) 1rem var(--section-pad-bot) 1rem;
    border-radius: 30px;                
}
.close-feedback{       
    cursor: pointer;
    padding: 0.5rem;     
    border-radius: 10px;
    color: var(--color-black-1);
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    min-height: 35px;
    font-size: 2rem;
    text-transform: uppercase;    
}
@media (max-width: 576px){
    .close-feedback{
        right: 0.5rem;
    }
}

.close-feedback::-moz-selection{
 background-color: transparent;
}
.close-feedback::selection{
 background-color: transparent;
}
.close-feedback:hover,
.close-feedback:active{    
    background-color: var(--color-red);    
}
.close-feedback:hover .burger-row,
.close-feedback:active .burger-row{
    background-color: white;    
}

@media(min-width: 576px){
    .feedback-form__wrapper{                
        padding: var(--section-pad-top) 5% var(--section-pad-bot) 5%;
    }
}
@media(min-width: 992px){
    .feedback-form__wrapper{                
        padding: var(--section-pad-top) 3rem var(--section-pad-bot) 3rem;
    }
}
.feedback-intro__title{
    margin-bottom: 1.5rem;    
}
@media (max-width: 576px) {
    .feedback-intro__title{
        margin-bottom: 1rem;    
    }   
}
.feedback__text{
    font-size: var(--text-sm);
    line-height: 1.4em;
    text-align: center;
}

.feedback-form__label{
    font-size: var(--text-sm);
    display: block;        
    letter-spacing: 0.1em;
    text-transform: uppercase;   
    color: var(--color-black-1) !important;
    font-weight: 400;
}
.feedback-form__input {           
    border-bottom: 1px solid var(--color-grey-8) !important;    
}

.feedback-form__input:focus-visible {
    outline: 0;    
    color: var(--color-black-1);
}

.feedback-form__input::-webkit-input-placeholder {
    color: var(--color-grey-5);
}

.feedback-form__input::-moz-placeholder {
    color: var(--color-grey-5);
}

.feedback-form__input:-ms-input-placeholder {
    color: var(--color-grey-5);
}

.feedback-form__input::-ms-input-placeholder {
    color: var(--color-grey-5);
}

.feedback-form__input::placeholder,
.feedback-form__input {
    color: var(--color-grey-5);
}

.feedback-success{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.sticker {
    height: var(--sticker-height);
    background-image: url('../img/Signal.png');
    background-position: center;
    background-size: cover;
}

.post-button {        
    font-size: var(--text-sm);
    color: var(--color-grey-4);
    text-transform: uppercase;
    background-color: var(--color-red);
    border-radius: 50px;
    height: 45px;
    border: none;
    border: 1.5px solid var(--color-red);
}

.post-button:focus-visible {
    outline: 0;
}

.send-arrow {
    position: relative;
    bottom: 2px;
    left: 5px;
}

.post-button:hover,
.post-button:active {
    background: transparent;
    color: var(--color-red);
}

.post-button:hover path,
.post-button:active path {
    stroke: var(--color-red);
}



/* special features */
@media(prefers-reduced-motion: reduce) {

    .color-transition,
    .header,
    .videos__video-row,
    .videos__video-card {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#me{
    padding: 1rem;    
    margin-bottom: 0;
    text-align: center;
    background-color: var(--color-black-1);
    color: white !important;
}